{% extends "bootstrap_5_layout.html" %}

{% block content %}

<h1>Welcome Home</h1>

<p>Our Earnings Analysis app aims to provide users with a better understanding of company's Earnings
    per Share (EPS) historical data. By selecting a dashboard on the top right hand corner you may view
   a stock's annual or quarterly EPS data. Our dashboard will provide users with visual data displayed 
   through both a table chart and graph. We hope this will facilitate users uderstanding on the financial
   health of a company.  
  </p>

{% endblock %}
